.about_contact_wrapper{
    height: 70dvh;
    overflow: hidden;
    background: url('/images/contact.jpg')rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: bottom;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.about_contact_header {
    font-size: 3rem;
    font-family: var(--font-header);
    color: white;
}

@media screen and (max-width: 520px){
    .about_contact_header{
        font-size: 1.5rem;
    }

    .about_contact_wrapper{
        height: 40dvh;
    }
}