.house_preview_wrapper {
    margin-top: 80px;
    /* height: 100dvh; */
    /* background-color: #efefef; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-left: 400px;
    margin-right: 400px;
}

.house_image_wrapper{
    height: 500px;
    width: 800px;
    padding-top: 50px;
}

.carousel_wrapper div img{
    width: 800px;
    height: 500px;
    border-radius: 20px;
}
.main_house_content_full{
    padding: 80px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.main_house_content{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.main_house_content_left{
    width: 400px;
}

.main_house_content_right{
    width: 150px;
}

.main_house_content_description{
    width: 550px;
}

.main_house_content_price{
    margin-top: 10px;
}

.contact{
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    /* background-color: blue; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.contact_textarea{
    overflow-y: scroll;
    resize: none;
}

.main_house_content_header{
    font-style: var(--font-header);
}

.main_house_content_subheader{
    font-style: var(--font-header);
}

.highlights_wrapper{
    margin: 40px 0px 40px 0px;
    padding: 10px;
    border: 1px solid;
    border-color: grey;
    border-radius: 10px;
}

.home_highlights{
    width: 900px;
    border: 2px;
    border-color: grey;
    display: flex;
}

.home_highlights_column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

@media screen and (max-width: 940px) {
    .main_house_content_full {
        flex-wrap: wrap;
        justify-content: center;
    }

    .house_image_wrapper {
        width: 600px;
        height: 400px;
        margin-bottom: 100px;
    }

    .home_highlights {
        width: 600px;
    }

}

@media screen and (max-width: 800px) {
    .house_preview_wrapper {
        margin: 0;
    }
    .main_house_content_full {
        width: 500px;
    }
}

@media screen and (max-width: 650px) {
    .main_house_content {
        justify-content: center;
        text-align: center;
    }
    .main_house_content_full {
        width: 300px;
    }
    .main_house_content {
        width: 300px;
    }
    .carousel_wrapper div img{
        width: 300px !important;
        height: 200px;
        border-radius: 20px;
    }
    .house_image_wrapper {
        margin-top: 100px;
        margin-bottom: 20px;
        width: 300px;
        height: 200px;
    }
    .home_highlights{
        width: 300px;
    }
}