.nav_wrapper {
    background-color: white;

    font-family: var(--font-header);
    font-weight: bold;
    margin: 0px 0px;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100dvw;
    height: 80px;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    box-shadow: 0px 5px 8px #888888;
}

.nav_left_selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.nav_right_selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.nav_logo {
    padding-top: 5px;
}

.nav_link_item {
    text-decoration: none;
    color: var(--font-color-mute-grey);
}

.nav_link_item.active {
    background-color: var(--color-seagreen);
    border-radius: 10px;
    color: white;
}

.nav_item {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    border-radius: 8px;
}

.nav_login {
    border: 1px solid lightgrey;
    margin-right: 10px;
}


.nav_item:hover {
    background-color: var(--color-seagreen);
    color: white;
}

.nav_login:hover {
    background-color: lightgrey;
    color: var(--font-color-mute-grey);
}

.nav_right_selection .nav_link_item:nth-child(2){
    display: none;
}

@media screen and (max-width: 710px){
    .nav_logo {
        width: 150px;
    }

    .nav_item {
        padding: 10px 5px 5px 5px;
    }

    .nav_left_selection {
        gap: 5px;
    }
}

@media screen and (max-width: 550px){
    .nav_right_selection .nav_link_item:nth-child(2){
        display: flex;
        padding-top: 5px;
    }

    .nav_right_selection {
        padding-right: 5px;
        width: 150px;
    }

    .nav_right_selection .nav_link_item:first-child {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .nav_logo {
        width: 100px;
    }

    .nav_item {
        font-size: .85rem;
        padding: 10px 5px 5px 5px;
    }

    .nav_left_selection {
        gap: 2px;
    }

    .nav_right_selection .nav_link_item:nth-child(2){
        display: flex;
        padding-top: 3px;
    }
}