:root {
    --font-header: "Oswald", sans-serif;
    
    --font-body: "Noto Serif", serif;

    --font-color-mute-grey: #494949;
    --color-seagreen: #20b2aa
}

html, body {
    font-family: var(--font-body);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* html, body {
    margin: 0;
    padding: 0;
    width: 100%;
} */